@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Lista de Jogos cadatrados</h1>

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Dev</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var game in Model.Games)
            {

                <tr>
                    <td>@game.Id</td>
                    <td>@game.Name</td>
                    <td>@game.Developer</td>
                    <td>

                        <a asp-page="./UpdateGame" asp-route-id="@game.Id">Edit</a>

                        <button type="submit" asp-page-handler="delete"
                                asp-route-id="@game.Id">
                            delete
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="./newgame">New Game ++</a>
</form>